{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% if title %}{{ title }} {% else %} title{% endif %} </title>
    <link type="text/css" href="{% static 'shop/css/styles.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'shop/css/card.css' %}" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
    <tr>
        <td valign=top>
            <div class="header">
                <ul id="mainmenu" class="mainmenu">
                    <li class="logo"><a href="#">
                        <div class="logo"></div>
                    </a></li>
                    <li><a href="{% url 'about' %}">about</a></li>
                    <li><a href="#">news</a></li>
                    <li><a href="#">contact</a></li>

                    {% if  user.is_authenticated %}
                        <li class="last"><a href="{% url 'logout' %}">logout</a></li>
                        <li class="last"><a href="#">profile</a></li>
                    {% else %}
                        <li class="last"><a href="{% url 'login' %}">login</a></li>
                        <li class="last"><a href="{% url 'register' %}">register</a></li>
                    {% endif %}
                </ul>
                <div class="clear"></div>
            </div>


            <table class="table-content" border=0 cellpadding="0" cellspacing="0">
                <tr>
                    <!-- Sidebar слева -->
                    <td valign="top" class="left-chapters">
                        <ul id="leftchapters">
                            <li class="selected"><a href="{% url 'home' %}">Все категории</a></li>
                            {% for cat in cats %}
                                <li><a href="#">{{ cat.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>

                    <td valign="top" class="content">
                        <div class="content-text">
                            {% block content %}
                            {% endblock %}
                        </div>


                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td valign=top>
            <div id="footer">
            </div>
        </td>
    </tr>
</table>

</body>
</html>
