{% extends 'shop/base.html' %}

{% block content %}
    <div class="cards">
        {% for p in object_list %}
            <div class="card" >
                <a style="text-decoration: none" href="{{ p.get_absolute_url }}">
                    <img src="{{ p.photo.url }}" alt="Avatar" style="width:100%">
                    <div class="container">
                        <h4><b>{{ p.name }} {{ p.model }}</b></h4>
                        <p>Architect & Engineer</p>
                    </div>
                </a>
            </div>
        {% endfor %}
        <div class="pagination">
            <a href="?page=1">&laquo;</a>
            {% for foo in page_obj.paginator.page_range %}
                <a href="?page={{ foo }}"
                   class="{% if foo == page_obj.number %}active{% else %}{% endif %}"> {{ foo }}</a>
            {% endfor %}

            <a href="?page=2">&raquo;</a>
        </div>
    </div>
{% endblock %}

